.login-container {
    min-height: 100vh !important;
    height: 100vh !important;
}
@media only screen and (max-width: 1030px) {
    .columns:not(.is-desktop) {
        flex-direction: column !important;
    }

    .imgContainer svg {
        width: 200px;
        height: 100px;
    }
    .footer_Container {
        position: relative !important;
    }
    .login-container .login-form {
    margin: inherit !important;
}
}

@media screen and (max-width: 414px) {
    .footer_Container {
        position: relative !important;
        /* bottom: 0 !important; */
    }
}